:root {
  --color-text: #757575;
  --color-title: #212121;
  --color-logo: #2196F3;
  --color-onblack: #FFFFFF;
  --color-downlink: #FFFFFF99;
  --color-bgd-dark: #2F303A;
  --color-text-btn-primery: #FFFFFF;
  --color-brd-btn-primery: #2196F3;
  --color-brdhov-btn-primery: #188CE8;
  --color-text-btn-secondary: #212121;
  --color-brd-btn-secondary: #F5F4FA;
  --color-hov-btn-secondary: #FFFFFF;
  --color-hovbrd-btn-secondary: #2196F3;
  --color-socials-icon: #AFB1B8;
  --items: 4;
  --items-tablet: 2;
  --indent: 30px;
  --flex-formula: calc((100% - var(--indent) * (var(--items) - 1)) / (var(--items)));
  --flex-formula-tablet: calc((100% - var(--indent) * (var(--items-tablet) - 1)) / (var(--items-tablet)));
  /* Animations */
  --transform-centre: translateX(-50%) translateY(-50%);
  --anim-default: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-container, .portfolio, .partners-container, .team-container, .services-container, .benefit, .hero, .header-container {
  width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .footer-container, .portfolio, .partners-container, .team-container, .services-container, .benefit, .hero, .header-container {
    width: 738px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-container, .portfolio, .partners-container, .team-container, .services-container, .benefit, .hero, .header-container {
    width: 1200px;
  }
}

.footer-socials__link, .addres__map,
.footer-contacts__mail,
.footer-contacts__tel, .filter-list__item, .task, .buttons-list__item, .partners__card, .partners, .social__link, .team__list, .services__list, .benefit-set__list, .contacts__tel,
.contacts__mail {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.modal__title, .notification__title, .footer-socialbox__title, .task__name, .portfolio__title, .partners-container__title, .team__name, .team-container__title, .services__text, .services-container__title, .benefit__subtitle, .hero__title {
  font-weight: 700;
  line-height: 1.16;
  font-size: 36px;
  letter-spacing: 0.03em;
  color: var(--color-title);
}

.partners-container__title, .team-container__title, .services-container__title {
  margin-bottom: 50px;
  text-align: center;
}

.portfolio__title, .benefit__title {
  visibility: hidden;
  line-height: 0;
  font-size: 0px;
  letter-spacing: 0em;
}

.agreement__submit, .notification__button, .buttons-list__button, .hero__button {
  color: var(--color-text);
  font-family: "Roboto", Verdana, Tahoma, sans-serif;
  background-color: transparent;
  cursor: pointer;
  border: transparent;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  -webkit-transition: color var(--anim-default), background-color var(--anim-default), -webkit-filter var(--anim-default);
  transition: color var(--anim-default), background-color var(--anim-default), -webkit-filter var(--anim-default);
  transition: color var(--anim-default), background-color var(--anim-default), filter var(--anim-default);
  transition: color var(--anim-default), background-color var(--anim-default), filter var(--anim-default), -webkit-filter var(--anim-default);
}

.buttons-list__button {
  color: var(--color-text-btn-secondary);
  background-color: var(--color-brd-btn-secondary);
  padding: 6px 22px;
}
.buttons-list__button:hover {
  color: var(--color-hov-btn-secondary);
  background-color: var(--color-hovbrd-btn-secondary);
}
.buttons-list__button:focus {
  color: var(--color-hov-btn-secondary);
  background-color: var(--color-hovbrd-btn-secondary);
}

.agreement__submit, .notification__button, .hero__button {
  color: var(--color-text-btn-primery);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--color-brd-btn-primery);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  padding: 10px 32px;
}
.agreement__submit:active, .notification__button:active, .hero__button:active {
  background-color: var(--color-brdhov-btn-primery);
}

@-webkit-keyframes bounce-in-fwd {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: scale(0.84);
            transform: scale(0.84);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  89% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@keyframes bounce-in-fwd {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: scale(0.84);
            transform: scale(0.84);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  89% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@-webkit-keyframes slit-out-diagonal-1 {
  0% {
    -webkit-transform: translateZ(0) rotate3d(1, 1, 0, 0);
            transform: translateZ(0) rotate3d(1, 1, 0, 0);
    opacity: 1;
  }
  54% {
    -webkit-transform: translateZ(-160px) rotate3d(1, 1, 0, 87deg);
            transform: translateZ(-160px) rotate3d(1, 1, 0, 87deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-800px) rotate3d(1, 1, 0, 90deg);
            transform: translateZ(-800px) rotate3d(1, 1, 0, 90deg);
    opacity: 0;
  }
}
@keyframes slit-out-diagonal-1 {
  0% {
    -webkit-transform: translateZ(0) rotate3d(1, 1, 0, 0);
            transform: translateZ(0) rotate3d(1, 1, 0, 0);
    opacity: 1;
  }
  54% {
    -webkit-transform: translateZ(-160px) rotate3d(1, 1, 0, 87deg);
            transform: translateZ(-160px) rotate3d(1, 1, 0, 87deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-800px) rotate3d(1, 1, 0, 90deg);
            transform: translateZ(-800px) rotate3d(1, 1, 0, 90deg);
    opacity: 0;
  }
}
@-webkit-keyframes up-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes up-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body {
  font-family: "Roboto", Verdana, Tahoma, sans-serif;
  color: var(--color-text);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

/* Reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

header {
  background-color: #FFFFFF;
  border-bottom: 1px solid #ECECEC;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* -----------Logo----------- */
.logo {
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-style: normal;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo .logo__fw {
  color: var(--color-logo);
}

.logo .logo__sw {
  color: black;
}

/* -----------Logo----------- */
/* ------------Navigation-------- */
.navigation__ul {
  list-style: none;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  padding-left: 0;
  margin: 0;
}

.navigation {
  margin-left: 93px;
}

.navigation__list {
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
}

.navigation__studio,
.navigation__portfolio,
.navigation__kontact {
  text-decoration: none;
  color: var(--color-title);
  -webkit-transition: color var(--anim-default);
  transition: color var(--anim-default);
}
.navigation__studio:hover,
.navigation__portfolio:hover,
.navigation__kontact:hover {
  color: var(--color-logo);
}
.navigation__studio:focus,
.navigation__portfolio:focus,
.navigation__kontact:focus {
  color: var(--color-logo);
}
.navigation__studio::after,
.navigation__portfolio::after,
.navigation__kontact::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 50%;
  right: 50%;
  -webkit-transform: var(--transform-centre);
          transform: var(--transform-centre);
  border-radius: 2px;
  background-color: var(--color-logo);
  opacity: 0;
}

.navigation--current::after {
  -webkit-animation: up-opacity 0.5s ease-in 250ms forwards;
          animation: up-opacity 0.5s ease-in 250ms forwards;
}

.navigation__ul,
.contacts__tel,
.contacts__mail {
  font-family: "Roboto";
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
}

.contacts {
  margin-left: auto;
  margin-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 30px;
}

.contacts__tel,
.contacts__mail {
  color: var(--color-text);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color var(--anim-default);
  transition: color var(--anim-default);
}
.contacts__tel:hover,
.contacts__mail:hover {
  color: var(--color-logo);
}
.contacts__tel:focus,
.contacts__mail:focus {
  color: var(--color-logo);
}

.contacts__mail-icon,
.contacts__tel-icon {
  fill: currentColor;
}

.hero-section {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-width: 480px;
  max-width: 480px;
  margin: 0 auto;
  background-color: rgb(196, 196, 196);
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/imgbg_480x1.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/imgbg_480x1.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-section {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/imgbg_480x2.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/imgbg_480x2.jpg);
  }
}
@media screen and (min-width: 767px) {
  .hero-section {
    max-width: 768px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/imgbg_768x1.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/imgbg_768x1.jpg);
  }
}
@media screen and (min-width: 767px) and (min-device-pixel-ratio: 2), screen and (min-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 767px) and (min-resolution: 192dpi), screen and (min-width: 767px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/imgbg_768x2.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/imgbg_768x2.jpg);
  }
}
@media screen and (min-width: 1199px) {
  .hero-section {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/imgbg_1600x1.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/imgbg_1600x1.jpg);
  }
}
@media screen and (min-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 1199px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/imgbg_1600x2.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/imgbg_1600x2.jpg);
  }
}

.hero__title {
  color: var(--color-onblack);
  font-family: Roboto;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.62;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
  text-transform: uppercase;
  text-align: center;
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1199px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

.hero__button {
  display: block;
  min-width: 216px;
  min-height: 50px;
  margin-right: auto;
  margin-left: auto;
}

.benefit-section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .benefit-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.benefit__subtitle {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .benefit__subtitle {
    text-align: center;
  }
}

.benefit-set {
  padding-left: 0;
}
@media screen and (min-width: 767px) {
  .benefit-set {
    margin-top: 0;
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

@media screen and (max-width: 767px) {
  .benefit-set__wrap {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .benefit-set__wrap {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .benefit-set__wrap {
    width: 270px;
  }
}

.benefit-set__list {
  display: block;
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .benefit-set__list {
    width: 354px;
    height: 224px;
    -ms-flex-preferred-size: var(--flex-formula-tablet);
        flex-basis: var(--flex-formula-tablet);
  }
}
@media screen and (min-width: 1200px) {
  .benefit-set__list {
    width: 270px;
    height: 248px;
    -ms-flex-preferred-size: var(--flex-formula);
        flex-basis: var(--flex-formula);
  }
}

.benefit__tabet {
  width: 100%;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  background: var(--color-brd-btn-secondary);
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .benefit__tabet {
    width: 354px;
    height: 120px;
  }
}
@media screen and (min-width: 1200px) {
  .benefit__tabet {
    width: 270px;
    height: 120px;
  }
}

.services-section {
  display: none;
}
@media screen and (min-width: 1200px) {
  .services-section {
    padding-top: 0;
    padding-bottom: 94px;
    display: contents;
  }
}
@media screen and (min-width: 1200px) and (min-width: 1200px) {
  .services-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.services {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--indent);
}

.services__list {
  display: block;
}

.services__box {
  position: relative;
}

.services__textbox {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  background: rgba(47, 48, 58, 0.8);
  border: 1px solid rgb(0, 0, 0);
}

.services__text {
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-onblack);
}

.team-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #F5F4FA;
  padding-top: 94px;
}
@media screen and (min-width: 1200px) {
  .team-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__card {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--color-onblack);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
}

.team {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--indent);
}

.team__list {
  -ms-flex-preferred-size: calc((100% - 30px - 1) / 1);
      flex-basis: calc((100% - 30px - 1) / 1);
}
@media screen and (min-width: 768px) {
  .team__list {
    -ms-flex-preferred-size: var(--flex-formula-tablet);
        flex-basis: var(--flex-formula-tablet);
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    -ms-flex-preferred-size: var(--flex-formula);
        flex-basis: var(--flex-formula);
  }
}

.team__position {
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0;
}

.socials__icon {
  fill: var(--color-socials-icon);
  -webkit-transition: fill var(--anim-default), background-color var(--anim-default);
  transition: fill var(--anim-default), background-color var(--anim-default);
}
.social__reference:focus .socials__icon, .social__reference:hover .socials__icon {
  fill: var(--color-onblack);
}

.social__reference {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: fill var(--anim-default), background-color var(--anim-default);
  transition: fill var(--anim-default), background-color var(--anim-default);
}
.social__reference:focus {
  background-color: var(--color-hovbrd-btn-secondary);
}
.social__reference:hover {
  background-color: var(--color-hovbrd-btn-secondary);
}

.partners-section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .partners-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (max-width: 1199px) {
  .partners-container__title {
    font-size: 28px;
    line-height: 1.18;
  }
}

.partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .partners {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.partners__card {
  -ms-flex-preferred-size: calc((100% - 60px - 1) / 2);
      flex-basis: calc((100% - 60px - 1) / 2);
}
@media screen and (min-width: 768px) {
  .partners__card {
    -ms-flex-preferred-size: calc((100% - 90px - 1) / 3);
        flex-basis: calc((100% - 90px - 1) / 3);
  }
}

.partners__link {
  width: 210px;
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgb(175, 177, 184);
  offset: -1px;
  border-radius: 4px;
  -webkit-transition: fill var(--anim-default), border-color var(--anim-default);
  transition: fill var(--anim-default), border-color var(--anim-default);
}
@media screen and (min-width: 768px) {
  .partners__link {
    width: 226px;
    height: 92px;
  }
}
@media screen and (min-width: 1200px) {
  .partners__link {
    width: 170px;
    height: 92px;
  }
}
.partners__link:focus, .partners__link:hover {
  border-color: var(--color-brd-btn-primery);
}

.partners__icon {
  fill: var(--color-socials-icon);
  -webkit-transition: fill var(--anim-default);
  transition: fill var(--anim-default);
}
.partners__link:focus .partners__icon {
  fill: var(--color-brd-btn-primery);
}
.partners__link:hover .partners__icon {
  fill: var(--color-brd-btn-primery);
}

.section-portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section-portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.task__name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.buttons-list {
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.buttons-list__button:hover {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.buttons-list__button:focus {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.filter-list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--indent);
}

.task__box {
  position: relative;
  overflow: hidden;
}

.task__textbox {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 24px;
  padding-right: 24px;
  width: 100%;
  height: 100%;
  top: 151%;
  left: 50%;
  -webkit-transform: var(--transform-centre);
          transform: var(--transform-centre);
  background: rgba(33, 150, 243, 0.9);
  border: 1px solid rgb(0, 0, 0);
  -webkit-transition: top var(--anim-default);
  transition: top var(--anim-default);
}
.filter-list__item:hover .task__textbox {
  top: 50%;
}

.task__overlay-text {
  text-align: left;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--color-onblack);
}

.filter-list__item {
  border: 1px solid #EEEEEE;
  -ms-flex-preferred-size: calc((100% - var(--indent) * 2) / 3);
      flex-basis: calc((100% - var(--indent) * 2) / 3);
  -webkit-transition: -webkit-box-shadow var(--anim-default);
  transition: -webkit-box-shadow var(--anim-default);
  transition: box-shadow var(--anim-default);
  transition: box-shadow var(--anim-default), -webkit-box-shadow var(--anim-default);
}
.filter-list__item:hover {
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.task__card {
  padding: 20px 24px;
}

.task__type {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--color-text);
}

footer {
  background-color: var(--color-bgd-dark);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
@media screen and (max-width: 1199px) {
  .footer-container {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 60px;
  }
}

@media screen and (max-width: 1199px) {
  .footer-container__contacts {
    text-align: center;
  }
}

.logo-footer {
  margin-bottom: 20px;
  display: inline-block;
}

.logo__swf {
  color: var(--color-onblack);
}

.addres__map,
.footer-contacts__mail,
.footer-contacts__tel {
  text-decoration: none;
  -webkit-transition: color var(--anim-default);
  transition: color var(--anim-default);
}

address {
  margin-bottom: 9px;
}

.addres__map {
  color: var(--color-onblack);
}

.addres__map {
  font-style: normal;
}

.footer-contacts__mail {
  margin-bottom: 9px;
  color: var(--color-downlink);
  display: block;
}
.footer-contacts__mail:hover, .footer-contacts__mail:focus {
  color: var(--color-logo);
}

.footer-contacts__tel {
  color: var(--color-downlink);
  display: block;
}
.footer-contacts__tel:hover, .footer-contacts__tel:focus {
  color: var(--color-logo);
}

.footer-socialbox {
  width: 206px;
  height: 80px;
}
@media screen and (max-width: 1199px) {
  .footer-socialbox {
    text-align: center;
  }
}
@media screen and (min-width: 1199px) {
  .footer-socialbox {
    margin-left: 70px;
  }
}

.footer-socialbox__title {
  font-size: 14px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}

.footer-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0;
}

.footer-socials__icon {
  fill: var(--color-text-btn-primery);
}

.footer-socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: fill var(--anim-default), background-color var(--anim-default);
  transition: fill var(--anim-default), background-color var(--anim-default);
}
.footer-socials__link:hover, .footer-socials__link:focus {
  background-color: var(--color-hovbrd-btn-secondary);
}

.notification {
  width: 570px;
}
@media screen and (max-width: 1199px) {
  .notification {
    text-align: center;
  }
}
@media screen and (min-width: 1199px) {
  .notification {
    margin-left: auto;
    margin-right: 0;
  }
}

.notification__title {
  font-size: 14px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}

.notification__butn-wrap {
  display: inline-block;
  position: relative;
}
@media screen and (min-width: 1199px) {
  .notification__butn-wrap {
    margin-left: 12px;
  }
}

.notification__button {
  width: 200px;
  height: 50px;
  padding: 10px 64px 10px 31px;
}

.notification__icon {
  position: absolute;
  right: 28px;
  bottom: 13px;
}

.notification__mail {
  width: 450px;
  height: 50px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  text-align: left;
  padding-left: 16px;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  -webkit-transition: outline var(--anim-default);
  transition: outline var(--anim-default);
}
.notification__mail:focus {
  outline-offset: -1px;
  outline: 1px solid var(--color-logo);
}
@media screen and (min-width: 1199px) {
  .notification__mail {
    width: 354px;
    margin-bottom: 0;
  }
}

.backdrop {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #000000;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: opacity var(--anim-default), visibility var(--anim-default);
  transition: opacity var(--anim-default), visibility var(--anim-default);
}

.modal {
  position: absolute;
  /* top: 50%;
  left: 50%;
  transform: var(--transform-centre); */
  width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: var(--color-onblack);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close-button {
  position: absolute;
  right: 8px;
  top: 8px;
  padding: 0;
  width: 30px;
  height: 30px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background-color: var(--color-onblack);
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-animation: slit-out-diagonal-1 250ms both;
          animation: slit-out-diagonal-1 250ms both;
}

.modal:not(.is-animated) {
  -webkit-animation: bounce-in-fwd 1.1s both;
          animation: bounce-in-fwd 1.1s both;
}

.modal__title {
  font-size: 20px;
  letter-spacing: 0.03em;
  text-align: center;
  display: block;
  margin-bottom: 12px;
}

.modal-form__wrap {
  margin-bottom: 20px;
}

.modal-form__label {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  text-align: left;
  margin-bottom: 4px;
}

.modal-form__input-wrap {
  position: relative;
  margin-bottom: 10px;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  padding-right: 42px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline-offset: -1px;
  outline: 1px solid transparent;
  -webkit-transition: border var(--anim-default), outline var(--anim-default);
  transition: border var(--anim-default), outline var(--anim-default);
}

.modal-form__input:focus {
  border: 1px solid rgb(33, 150, 243);
  outline-offset: -1px;
  outline: 1px solid rgb(33, 150, 243);
}

.modal-form__input:focus + .modal-form__icon {
  fill: var(--color-logo);
}

.modal-form__icon {
  position: absolute;
  top: 11px;
  bottom: 11px;
  left: 12px;
  -webkit-transition: fill var(--anim-default);
  transition: fill var(--anim-default);
}

.modal-form__message {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline-offset: -1px;
  outline: 1px solid transparent;
  -webkit-transition: border var(--anim-default), outline var(--anim-default);
  transition: border var(--anim-default), outline var(--anim-default);
}

.modal-form__message::-webkit-input-placeholder {
  font-size: 12px;
  letter-spacing: 0.01em;
  text-align: left;
}

.modal-form__message::-moz-placeholder {
  font-size: 12px;
  letter-spacing: 0.01em;
  text-align: left;
}

.modal-form__message:-ms-input-placeholder {
  font-size: 12px;
  letter-spacing: 0.01em;
  text-align: left;
}

.modal-form__message::-ms-input-placeholder {
  font-size: 12px;
  letter-spacing: 0.01em;
  text-align: left;
}

.modal-form__message::placeholder {
  font-size: 12px;
  letter-spacing: 0.01em;
  text-align: left;
}

.modal-form__message:focus {
  border: 1px solid rgb(33, 150, 243);
  outline-offset: -1px;
  outline: 1px solid rgb(33, 150, 243);
}

.agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 7px;
  margin-bottom: 30px;
}

.agreement__label {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.agreement__link {
  color: var(--color-logo);
  text-underline-offset: 3px;
  text-decoration: underline;
}

.agreement__checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 16px;
  height: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.2222 1.66667V13.3333H1.77778V1.66667H14.2222ZM14.2222 0H1.77778C0.8 0 0 0.75 0 1.66667V13.3333C0 14.25 0.8 15 1.77778 15H14.2222C15.2 15 16 14.25 16 13.3333V1.66667C16 0.75 15.2 0 14.2222 0Z' fill='%23212121'/%3E%3C/svg%3E");
  -webkit-transition: background-image var(--anim-default);
  transition: background-image var(--anim-default);
}

.agreement__checkbox:checked {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='16' height='15' rx='2' fill='%232196F3'/%3E%3Cpath d='M3.95703 7.75166L3.88825 7.68604L3.81923 7.75141L2.93123 8.59258L2.85486 8.66492L2.93097 8.73753L6.42671 12.0724L6.49574 12.1382L6.56476 12.0724L14.069 4.91352L14.1449 4.84116L14.069 4.76881L13.1873 3.92764L13.1183 3.86183L13.0493 3.92761L6.49577 10.1735L3.95703 7.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
}

.agreement__submit {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
}/*# sourceMappingURL=main.css.map */