:root {
    --color-text:#757575;
    --color-title:#212121;
    --color-logo:#2196F3;
    --color-onblack:#FFFFFF;
    --color-downlink: #FFFFFF99;
    --color-bgd-dark:#2F303A;
    --color-text-btn-primery:#FFFFFF;
    --color-brd-btn-primery:#2196F3;
    --color-brdhov-btn-primery:#188CE8;
    --color-text-btn-secondary:#212121;
    --color-brd-btn-secondary:#F5F4FA;
    --color-hov-btn-secondary:#FFFFFF;
    --color-hovbrd-btn-secondary:#2196F3;
}

    body {
        font-family: 'Roboto',Verdana, Tahoma, sans-serif;
        color: var(--color-text);
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
    }
    .title {
        font-weight: 700;
        line-height: 1.16;
        font-size: 36px;
        letter-spacing: 0.03em;
        color: var(--color-title);
    }
.clear-dec {
    text-decoration: none;
    list-style: none;
}
.text-hiden {
    visibility: hidden;
    line-height: 0;
    font-size: 0px;
    letter-spacing: 0em;
}
/* !!!!!!!buttons!!!!!!!! */
.btn {
    color: var(--color-text);
    font-family: 'Roboto',Verdana, Tahoma, sans-serif;
    background-color: transparent;
    cursor: pointer;
    border: transparent;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
}
.btn.btn-primary {
    color: var(--color-text-btn-primery);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    background-color: var(--color-brd-btn-primery);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.btn.btn-primary:active {
    background-color: var(--color-brdhov-btn-primery);
}

.btn.btn-secondary {
    color: var(--color-text-btn-secondary);
    background-color: var(--color-brd-btn-secondary);
}
.btn.btn-secondary:hover,.btn.btn-secondary:focus {
    color: var(--color-hov-btn-secondary);
    background-color: var(--color-hovbrd-btn-secondary);
}
/* !!!!!!!buttons!!!!!!!! */
/* -------------------------HEADER--------------------- */
header {
    background-color:#FFFFFF;
}
    /* -----------Logo----------- */
    .logo {text-decoration: none;
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-style: normal;
    }
    .logo .logo-fw {
        color: var(--color-logo);
    }
    .logo .logo-sw {
        color: black;
    }
    /* -----------Logo----------- */
    /* ------------Navigation-------- */
    .navigation-ul {
        list-style: none;
        text-decoration: none;
        /* list-style-type: none; */
    }
    .navigation-ul, .navigation-tel, .navigation-mail {
        font-family: 'Roboto';
        text-decoration: none;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.15;
        letter-spacing: 0.02em;
    }
    .navigation-tel,.navigation-mail {
        color: var(--color-text);
    }
    .studio,.portfolio,.kontact {
        color: var(--color-title);
        text-decoration: none;
    }
    .current {
        color: var(--color-logo);
    }
    .navigation-mail:hover,.navigation-mail:focus, .navigation-tel:hover,.navigation-tel:focus {
        color: var(--color-logo);
    }
    /* ------------Navigation-------- */
    /* ------------------------HEADER--------------------- */
/* ----------------------------HERO------------------------ */
.hero {
    background-color: var(--color-bgd-dark);
}
.title.hero-title {
    color: var(--color-onblack);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.06em;
}
.btn.btn-primary.btn-primary-hero {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-align: center;
}
/* ----------------------------HERO------------------------ */
/* ----------------------OurPrefferece---------------------- */
.title.our-pref {
    font-size: 14px;
    text-transform: uppercase;
}
/* ----------------------OurPrefferece---------------------- */
/* ----------------------OurTeem---------------------------- */
.title.our-team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}
.our-team-p {
    font-size: 16px;
    line-height: 1.88;
}
/* ----------------------OurTeem---------------------------- */

/*!!!!!!!!!!!!!!!!!!!!!! PORTFOLIO !!!!!!!!!!!!!!!!!!!!!!!!!!*/
.title.project-name {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.filter-text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}

/* ----------------------FOOTER----------------------------- */
footer {
    background-color: var(--color-bgd-dark);
}
.logo-swf {
    color: var(--color-onblack);
}
.foot-map, .foot-mail, .foot-tel {
    text-decoration: none;

}
.foot-map {
    color: var(--color-onblack);
}
address .foot-map {
    font-style: normal;
}
.foot-mail, .foot-tel {
    color: var(--color-downlink);
    
}
.foot-mail:hover, .foot-mail:focus, .foot-tel:hover, .foot-tel:focus {
    color: var(--color-logo);
}