:root {
    --color-text:#757575;
    --color-title:#212121;
    --color-logo:#2196F3;
    --color-onblack:#FFFFFF;
    --color-downlink: #FFFFFF99;
    --color-bgd-dark:#2F303A;
    --color-text-btn-primery:#FFFFFF;
    --color-brd-btn-primery:#2196F3;
    --color-brdhov-btn-primery:#188CE8;
    --color-text-btn-secondary:#212121;
    --color-brd-btn-secondary:#F5F4FA;
    --color-hov-btn-secondary:#FFFFFF;
    --color-hovbrd-btn-secondary:#2196F3;
    --color-socials-icon: #AFB1B8;
    --items: 4;
    --indent: 30px;
    --flex-formula: calc((100% - var(--indent) * (var(--items) - 1)) / (var(--items)));
}

body {
        font-family: 'Roboto',Verdana, Tahoma, sans-serif;
        color: var(--color-text);
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
    }
        /* Reset */
h1, h2, h3, h4, h5, h6, p {
            margin: 0;
        }
img {
    display: block;
    height: auto;
    max-width: 100%;    
}
.clear-dec {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}
    /* Reset */
    .section {
        padding-bottom: 94px;
    }
    .title {
        font-weight: 700;
        line-height: 1.16;
        font-size: 36px;
        letter-spacing: 0.03em;
        color: var(--color-title);
    }

.text-hiden {
    visibility: hidden;
    line-height: 0;
    font-size: 0px;
    letter-spacing: 0em;
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    /* outline: 2px solid orangered;
    outline-offset: -2px; */
}
/* !!!!!!!buttons!!!!!!!! */
.btn {
    color: var(--color-text);
    font-family: 'Roboto',Verdana, Tahoma, sans-serif;
    background-color: transparent;
    cursor: pointer;
    border: transparent;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
}
.btn.btn-primary {
    color: var(--color-text-btn-primery);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    background-color: var(--color-brd-btn-primery);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding: 10px 32px;
}
.btn.btn-primary:active {
    background-color: var(--color-brdhov-btn-primery);
}

.btn.btn-secondary {
    color: var(--color-text-btn-secondary);
    background-color: var(--color-brd-btn-secondary);
    padding: 6px 22px;
}
.btn.btn-secondary:hover,.btn.btn-secondary:focus {
    color: var(--color-hov-btn-secondary);
    background-color: var(--color-hovbrd-btn-secondary);
}
/* !!!!!!!buttons!!!!!!!! */
/* -------------------------HEADER--------------------- */
header {
    background-color:#FFFFFF;
    border-bottom: 1px solid #ECECEC;
}
.header-container {
    display: flex;
    align-items: center;
}
    /* -----------Logo----------- */
    .logo {text-decoration: none;
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-style: normal;
        align-items: center;
    }
    .logo .logo-fw {
        color: var(--color-logo);
    }
    .logo .logo-sw {
        color: black;
    }
    /* -----------Logo----------- */
    /* ------------Navigation-------- */
    .navigation-ul {
        list-style: none;
        text-decoration: none;
        display: flex;
        gap: 50px;
        padding-left: 0;
        margin: 0;
    }
    .navigation {
        margin-left: 93px;
    }
    .navigation-ul, .navigation-tel, .navigation-mail {
        font-family: 'Roboto';
        text-decoration: none;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.15;
        letter-spacing: 0.02em;
    }
    .navigation-mail {
        margin-left: auto;
    }
    .navigation-tel {
        margin-left: 50px;
    }
    .navigation-tel,.navigation-mail {
        color: var(--color-text);
        display: flex;
        gap: 10px;
        padding-top: 32px;
        padding-bottom: 32px;
        align-items: center;
    }
    .mail-icon, .tel-icon {
        fill: currentColor;
    }
    .studio,.portfolio,.kontact {
        color: var(--color-title);
        text-decoration: none;
        padding-top: 32px;
        padding-bottom: 32px;
    }
    .current {
        color: var(--color-logo);
    }
    .navigation-mail:hover,.navigation-mail:focus, .navigation-tel:hover,.navigation-tel:focus {
        color: var(--color-logo);
    }
    /* ------------NavigationEND-------- */
    /* ------------------------HEADER END--------------------- */
/* ----------------------------HERO-------------------- url(/images/hero.jpg)---- */
.hero {
    background-image:linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/hero.jpg);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 1600px;
    margin: 0 auto;
    background-color: rgba(196, 196, 196, 1);
    padding-top: 200px;
    padding-bottom: 200px;
}
.title.hero-title {
    color: var(--color-onblack);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.06em;
    margin-bottom: 30px;
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;

}

.btn.btn-primary.btn-primary-hero {
    display: block;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    min-width: 216px;
    min-height: 50px;
    margin-right: auto;
    margin-left: auto;
}
/* ----------------------------HEROEND------------------------ */
/* ----------------------OurPrefferece---------------------- */
.our-pref-section {
    padding-top: 94px;
}
.title.our-pref {
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.our-prefs {
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    gap: var(--indent);
    padding-left: 0;
}
.our-pref-tabet {
    width: 270px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    background: var(--color-brd-btn-secondary);
    border-radius: 4px;
}

.our-prefs-list {
    flex-basis: var(--flex-formula);
    
}
/* ----------------------OurPrefferece end---------------------- */
.uppertitle {
    margin-bottom: 50px;
    text-align: center;
}

/* What we do */
.work-photo {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    gap: var(--indent);
}
.work-photo-p {
    flex-basis: calc((100% - var(--indent) * (3 - 1)) / 3);
}
/* What we do  end*/
/* ----------------------OurTeem---------------------------- */
.our-team-section {
    background-color: #F5F4FA;
    padding-top: 94px;
}
.card {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--color-onblack);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.title.our-team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 10px;
}
.our-team-workers {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
    gap: var(--indent);
}
.our-team-list {
    flex-basis: var(--flex-formula)
}
.our-team-p {
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
}
.socials-list {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding-left: 0;
}
.socials-icon {
    fill: var(--color-socials-icon);
}
.social-link-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
}

.social-link-link:hover,
.social-link-link:focus {
    background-color: var(--color-hovbrd-btn-secondary);
}
.social-link-link:hover .socials-icon,
.social-link-link:focus .socials-icon {
    fill: var(--color-onblack);
}

/* ----------------------OurTeem end---------------------------- */

/* ----------------------Partners---------------------------- */
.partners-section {
    padding-top: 94px;
}
.partners-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.partners-item {
    width: 170px;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(175, 177, 184, 1);
    offset: -1px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.partners-icon {
    fill: var(--color-socials-icon);
}
.partners-item:hover .partners-icon,
.partners-item:focus .partners-icon {
    fill: var(--color-brd-btn-primery);
}
.partners-item:hover,
.partners-item:focus {
    border-color: var(--color-brd-btn-primery);
}
/* ----------------------Partners end---------------------------- */


/*!!!!!!!!!!!!!!!!!!!!!! PORTFOLIO !!!!!!!!!!!!!!!!!!!!!!!!!!*/
.section-portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}
.title.project-name {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.project-buttons-list {
    padding-left: 0;
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 50px;
}
.btn-port:hover,
.btn-port:focus {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.filter {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    gap: var(--indent);
}
.filter-item {
    border: 1px solid #EEEEEE;
    flex-basis: calc((100% - var(--indent) * ( 3 - 1 )) / ( 3 ));
}
.filter-item:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.filter-card {
    padding: 20px 24px;
}
.filter-text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}
/*!!!!!!!!!!!!!!!!!!!!!! PORTFOLIO END!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/* ----------------------FOOTER----------------------------- */
footer {
    background-color: var(--color-bgd-dark);
    padding-top: 60px;
    padding-bottom: 60px;
}
.logo-footer {
    margin-bottom: 20px;
    display: inline-block;
}
.logo-swf {
    color: var(--color-onblack);
}
.foot-map, .foot-mail, .foot-tel {
    text-decoration: none;

}
address {
    margin-bottom: 9px;
}
.foot-map {
    color: var(--color-onblack);
}
address .foot-map {
    font-style: normal;
}
.foot-mail {
    margin-bottom: 9px;
}
.foot-mail, .foot-tel {
    color: var(--color-downlink);
    display: block;
}
.foot-mail:hover, .foot-mail:focus, .foot-tel:hover, .foot-tel:focus {
    color: var(--color-logo);
}
.footer-container {
    display: flex;
    align-items: center;
}
.footer-socials-list-tablet {
    width: 206px;
    height: 80px;
    margin-left: 70px;
}
.footer-social-title {
    font-size: 14px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 20px;
}
.footer-socials-list {
    display: flex;
    gap: 10px;
    align-items: center;
    padding-left: 0;
}

.socials-icon-footer {
    fill: var(--color-text-btn-primery);
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
}

.social-link:hover,
.social-link:focus {
    background-color: var(--color-hovbrd-btn-secondary);
}