.benefit-section {
    @include section;
}
.benefit {
    @extend %container;
}
.benefit__subtitle {
    @extend %title;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
}
.benefit__title {
    @extend %text-hiden;
}
.benefit-set {
    // margin-top: 0;
    // margin-bottom: 0;
    // display: flex;
    // gap: var(--indent);
    padding-left: 0;
    @media screen and (min-width: 767px) {
        margin-top: 0;
        margin-bottom: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
}
.benefit-set__wrap {
    @media screen and (max-width: 767px) {
        margin-bottom: 30px;
    }
    @media screen and (min-width: 768px) {
            width: 354px;
        }
    
     @media screen and (min-width: 1200px) {
            width: 270px;
        }
}
.benefit-set__list {
    @extend %clear-dec;
    display: block;
    padding: 0;
    margin: 0;
    @media screen and (min-width: 768px) {
            width: 354px;
            height: 224px;
            flex-basis: var(--flex-formula-tablet);
        }
    
        @media screen and (min-width: 1200px) {
            width: 270px;
            height: 248px;
            flex-basis: var(--flex-formula);
        }

}
.benefit__tabet {
    width: 450px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    background: var(--color-brd-btn-secondary);
    border-radius: 4px;
    @media screen and (min-width: 768px) {
            width: 354px;
            height: 120px;
        }
    
        @media screen and (min-width: 1200px) {
            width: 270px;
            height: 120px;
        }
}
