header {
    background-color: #FFFFFF;
    border-bottom: 1px solid #ECECEC;
}

.header-container {
    @extend %container;
    display: flex;
    align-items: center;
}

/* -----------Logo----------- */
.logo {
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-style: normal;
    align-items: center;
}

.logo .logo__fw {
    color: var(--color-logo);
}

.logo .logo__sw {
    color: black;
}

/* -----------Logo----------- */
/* ------------Navigation-------- */
.navigation__ul {
    list-style: none;
    text-decoration: none;
    display: flex;
    gap: 50px;
    padding-left: 0;
    margin: 0;
}

.navigation {
    margin-left: 93px;
}

.navigation__list {
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
}

.navigation__studio,
.navigation__portfolio,
.navigation__kontact {
    text-decoration: none;
    color: var(--color-title);
    transition: color var(--anim-default);
}

.navigation__studio::after,
.navigation__portfolio::after,
.navigation__kontact::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 50%;
    right: 50%;
    transform: var(--transform-centre);
    border-radius: 2px;
    background-color: var(--color-logo);
    opacity: 0;
}

.navigation--current::after {
    animation: up-opacity 0.5s ease-in 250ms forwards;
}

.navigation__studio:hover,
.navigation__portfolio:hover,
.navigation__kontact:hover,
.navigation__studio:focus,
.navigation__portfolio:focus,
.navigation__kontact:focus {
    color: var(--color-logo);
}

.navigation__ul,
.contacts__tel,
.contacts__mail {
    font-family: 'Roboto';
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
}

.contacts {
    margin-left: auto;
    margin-right: 0;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 30px;
}

.contacts__tel,
.contacts__mail {
    @extend %clear-dec;
    color: var(--color-text);
    display: flex;
    gap: 10px;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;
    transition: color var(--anim-default);
}

.contacts__mail-icon,
.contacts__tel-icon {
    fill: currentColor;
}

.contacts__mail:hover,
.contacts__mail:focus,
.contacts__tel:hover,
.contacts__tel:focus {
    color: var(--color-logo);
}