.partners-section {
    @include section;
}
.partners-container {
    @extend %container;
}

.partners-container__title {
    @extend %title;
    @extend %uppertitle;
}
.partners {
    @extend %clear-dec;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.partners__card {
    @extend %clear-dec;
}
.partners__link {
    width: 170px;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(175, 177, 184, 1);
    offset: -1px;
    border-radius: 4px;
    transition: fill var(--anim-default), border-color var(--anim-default);

    &:focus,&:hover {
            border-color: var(--color-brd-btn-primery);
        }
}

.partners__icon {
    fill: var(--color-socials-icon);
    transition: fill var(--anim-default);

    .partners__link:focus & {
            fill: var(--color-brd-btn-primery);
        }
    .partners__link:hover & {
            fill: var(--color-brd-btn-primery);
        }
}

// .partners__link:hover .partners__icon,
// .partners__link:focus .partners__icon {
//     fill: var(--color-brd-btn-primery);
// }

// .partners__link:hover,
// .partners__link:focus {
//     border-color: var(--color-brd-btn-primery);
// }