.section-portfolio {
    @include section;
}
.portfolio {
    @extend %container;
}
.portfolio__title {
    @extend %title;
    @extend %text-hiden;
}
.task__name {
    @extend %title;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.buttons-list {
    padding-left: 0;
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 50px;
}
.buttons-list__item {
    @extend %clear-dec;
}
.buttons-list__button {
    @extend %btn;
    @extend %btn-secondary;
    &:hover {
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        }
    &:focus {
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        }
}

.filter-list {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    gap: var(--indent);
}
.task {
    @extend %clear-dec;
}
.task__box {
    position: relative;
    overflow: hidden;
}

.task__textbox {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 24px;
    padding-right: 24px;
    width: 100%;
    height: 100%;
    top: 151%;
    left: 50%;
    transform: var(--transform-centre);
    background: rgba(33, 150, 243, 0.9);
    border: 1px solid rgba(0, 0, 0, 1);
    transition: top var(--anim-default);
}

.task__overlay-text {
    text-align: left;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--color-onblack);
}

.filter-list__item {
    @extend %clear-dec;
    border: 1px solid #EEEEEE;
    flex-basis: calc((100% - var(--indent) * (3 - 1)) / (3));
    transition: box-shadow var(--anim-default);
}

.filter-list__item:hover {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.filter-list__item:hover .task__textbox {
    top: 50%;
}

.task__card {
    padding: 20px 24px;
}

.task__type {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--color-text);
}