.services-section {
    display: none;
    @media screen and (min-width: 1200px) {
        padding-top: 0;
        padding-bottom: 94px;
        display: block;
        min-width: 1200px;
        }
}
.services-container {
    @extend %container;
}
.services-container__title {
    @extend %title;
    @extend %uppertitle;
}
.services {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    gap: var(--indent);
}
.services__list {
    display: block;
    @extend %clear-dec;
}
.services__box {
    position: relative;
}

.services__textbox {
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0;
    padding-top: 27px;
    padding-bottom: 27px;
    background: rgba(47, 48, 58, 0.8);
    border: 1px solid rgba(0, 0, 0, 1)
}

.services__text {
    @extend %title;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-onblack);
}
