.services-section {
    @include section(0, 94px);
}
.services-container {
    @extend %container;
}
.services {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    gap: var(--indent);
}
.services-container__title {
    @extend %title;
    @extend %uppertitle;
}
.services__box {
    position: relative;
}

.services__textbox {
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0;
    padding-top: 27px;
    padding-bottom: 27px;
    background: rgba(47, 48, 58, 0.8);
    border: 1px solid rgba(0, 0, 0, 1)
}

.services__text {
    @extend %title;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-onblack);
}

.services__list {
    @extend %clear-dec;
    flex-basis: calc((100% - var(--indent) * (3 - 1)) / 3);
}