
@mixin section($pt: 60px,$pb: 60px) {
    padding-top: $pt;
    padding-bottom: $pb;
    @media screen and (max-width: 1199px) {
        padding-left: 15px;
        padding-right: 15px;
        }
    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
        min-width: 1200px;
    }
}

%container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: 768px) {
            width: 738px;
        }
    @media screen and (min-width: 1200px) {
        width: 1170px;
    }
}

%clear-dec {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

%title {
    font-weight: 700;
    line-height: 1.16;
    font-size: 36px;
    letter-spacing: 0.03em;
    color: var(--color-title);
}

%uppertitle {
    margin-bottom: 50px;
    text-align: center;
}

%text-hiden {
    visibility: hidden;
    line-height: 0;
    font-size: 0px;
    letter-spacing: 0em;
}

%btn {
    color: var(--color-text);
    font-family: 'Roboto', Verdana, Tahoma, sans-serif;
    background-color: transparent;
    cursor: pointer;
    border: transparent;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    transition: color var(--anim-default), background-color var(--anim-default), filter var(--anim-default);
}

%btn-secondary {
    color: var(--color-text-btn-secondary);
    background-color: var(--color-brd-btn-secondary);
    padding: 6px 22px;
    &:hover {
            color: var(--color-hov-btn-secondary);
            background-color: var(--color-hovbrd-btn-secondary);
        }
    &:focus {
            color: var(--color-hov-btn-secondary);
            background-color: var(--color-hovbrd-btn-secondary);
        }
}

%btn-primary {
    color: var(--color-text-btn-primery);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    background-color: var(--color-brd-btn-primery);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding: 10px 32px;
    &:active {
            background-color: var(--color-brdhov-btn-primery);
        }
}